@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  user-select: none;
  -webkit-user-select: none;
}

img {
  pointer-events: none;
}

a {
  -webkit-touch-callout: none;
}
