@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

*,
*::before,
*::after {
  user-select: none;
  -webkit-user-select: none;
}

img {
  pointer-events: none;
}

a {
  -webkit-touch-callout: none;
}

.bprogress .bar {
  margin-top: env(safe-area-inset-top);
}
